$main-color1: #9A12B3; //seance
$main-color2: #F4D03F; //saffron
// $mask-subscribe: #1E824C; //salem
$mask-subscribe: #1e6482; //salem
$call-up-bg: $main-color1;
$link-color: $main-color1;
$btn-bg: $main-color2;
$btn-bg-hov: #F9BF3B; //sandstorm
$btn-v2-bg: $main-color1;
$btn-v2-bg-hov: #1F3A93; //jacksons purple
$btn-counter-hov: #446CB3; //san marino
$btn-icon-bg: $main-color2;
$btn-icon-bg-hov: #F5D76E; //cream can
$checkbox-bg-hov: $main-color1;
$checkbox-br-hov: $main-color1;
$radio-checked: $main-color1;
$radio-br-hov: $main-color1;