$main-color1: #1BA39C; //light sea green
$main-color2: #674172; //honey flower
$mask-subscribe: #34495E; //pickled bluewood
$call-up-bg: $main-color1;
$link-color: $main-color1;
$btn-bg: $main-color2;
$btn-bg-hov: #2C3E50; //madison
$btn-v2-bg: $main-color1;
$btn-v2-bg-hov: #E08283; //new york pink
$btn-counter-hov: #65C6BB; //downy
$btn-icon-bg: $main-color2;
$btn-icon-bg-hov: #446CB3; //san marino
$checkbox-bg-hov: $main-color1;
$checkbox-br-hov: $main-color1;
$radio-checked: $main-color1;
$radio-br-hov: $main-color1;