$main-color1: #EB9532; //fire bush
$main-color2: #3498DB; //curious blue
$mask-subscribe: #67809F; //hoki
$call-up-bg: $main-color1;
$link-color: $main-color1;
$btn-bg: $main-color2;
$btn-bg-hov: #5C97BF; //foountaun blue
$btn-v2-bg: $main-color1;
$btn-v2-bg-hov: #E87E04; //tahiti gold
$btn-counter-hov: #2ECC71; //shamrock
$btn-icon-bg: $main-color2;
$btn-icon-bg-hov: #6BB9F0; //malibu
$checkbox-bg-hov: $main-color1;
$checkbox-br-hov: $main-color1;
$radio-checked: $main-color1;
$radio-br-hov: $main-color1;