$main-color1: #F4D03F; //saffron
$main-color2: #EF4836; //flamingo
// $mask-subscribe: #D24D57; //chestnut rose
$mask-subscribe: #963957; //chestnut rose
$call-up-bg: $main-color1;
$link-color: $main-color1;
$btn-bg: $main-color2;
$btn-bg-hov: #CF000F; //monza
$btn-v2-bg: $main-color1;
$btn-v2-bg-hov: #F5AB35; //lightning yellow
$btn-counter-hov: #cae061; //cream can
$btn-icon-bg: $main-color2;
$btn-icon-bg-hov: #F64747; //sunset orange
$checkbox-bg-hov: $main-color1;
$checkbox-br-hov: $main-color1;
$radio-checked: $main-color1;
$radio-br-hov: $main-color1;