$main-color1: #e74c3c; //alizarin
$main-color2: #1abc9c; //turquoise
// $mask-subscribe: #95a5a6; //cascade
$mask-subscribe: #317172; //cascade
$call-up-bg: $main-color1;
$link-color: $main-color1;
$btn-bg: $main-color2;
$btn-bg-hov: #16a085; //niagara
$btn-v2-bg: $main-color1;
$btn-v2-bg-hov: #e74c3c; //cinnabar
$btn-v2-bg-hov: #c0392b; //tall poppy
$btn-counter-hov: #e74c3c; //cinnabar
$btn-icon-bg: #16a085; //niagara
$btn-icon-bg-hov: #1abc9c; //turquoise
$back-bg: #ecf0f1; //porcelain
$btn-remove: #336E7B; //ming
$btn-remove-hov: #67809F; //hoki
$checkbox-bg: $back-bg;
$checkbox-br: $btn-remove;
$checkbox-bg-hov: $main-color1;
$checkbox-br-hov: $main-color1;
$checkbox-dis-bg: #ECECEC; //white smoke
$checkbox-dis-br: #D2D7D3; //pumice
$radio-br: #BFBFBF; //silver
$radio-checked: $main-color1;
$radio-br-hov: $main-color1;
$radio-bg-hov: $radio-br;
$radio-dis-bg: $checkbox-dis-bg;
$radio-dis-br: $checkbox-dis-br;
$alert-success: green; //buttercup
$alert-success-icon: green; //fire bush
$alert-warning: #F39C12;
$alert-warning-icon: #F39C12;
$alert-error: #EF4836; //flamingo
$alert-error-icon: #CF000F; //monza
$form-sub-bg: #ECF0F1; //porcelain
$form-sub-input-bg: #DADFE1; //iron
$old-price-c: #34495E; //pickled bluewood
$bg-map: #C8F7C5; //madang