.item-detail{
    padding: 0 110px;
    .it-info{
        width: 410px;
        float: left;
    }
    .composition{
        width: 280px;
        padding: 25px;
        float: right;
        .form-group{
            padding-left: 15px;
            padding-right: 15px;
        }
        .selectpicker,
        .bootstrap-select{
            width: 100% !important;
        }
        .name{
            margin-bottom: 10px;
        }
        .it-price{
            margin-top: 15px;
            margin-bottom: 25px;
            text-align: center;
            .it-sum{
                margin-bottom: 10px;
                font-size: 35px;
                height: 50px;
                line-height: 50px;
            }
        }
        .btn-buy{
            width: 100%;
        }
    }
    @include vw(992, 1199){
        padding: 0 40px;
    }
    @include vw(320, 991){
        padding: 0;
        .it-info{
            width: auto;
            margin-bottom: 25px;
            float: none;
            
        }
        .composition{
            float: none;
            margin: 0 auto;
            .btn-buy{
                padding-left: 80px;
                padding-right: 60px;
                &:before{
                    width: 55%;
                }
            }
        }
    }
}
    .it-gallery{
        height: 450px;
        .it-big{
            img{
                width: 100%;
                height: 100%;
            }
        }
        @include vw(320, 767){
            height: 190px;
        }
    }
    .it-gallery-thumbs{
        position: relative;
        margin-top: 10px;
        // margin-left: -18px;
        // margin-right: -18px;
        margin-bottom: 25px;
        overflow: hidden;
        z-index: 1;
        .it-gallery-thumbs-wrap{
            padding: 0;
            white-space: nowrap;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            font-size: 0;
            // transition: transform 0.3s;
        }
        .it-thumb{
            display: inline-block;
            position: relative;
            vertical-align: top;
            // width: 20%;
            // padding: 0 15px;
            cursor: pointer;
            // &:first-child{
            //     padding-left: 0;
            // }
            // &:last-child{
            //     padding-right: 0;
            // }
            width: 100px;
            height: auto;

            & + .it-thumb{
                margin-left: 30px;
            }
            .wrap{
                width: 100%;
                height: auto;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    top: 0;
                    border: 3px solid transparent;
                }
            }
            img{
                width: 100%;
                height: auto;
                max-height: 100%;
                cursor: pointer;
            }
            // #{'.ie8'} & { // MOVED
            //     padding: 0;
            //     .wrap{
            //         margin: 0 18px;
            //     }
            // }
        }
        @include vw(320, 767){
            margin-top: 5px;
            margin-left: 0;
            margin-right: 0;
            .it-thumb{
                width: 70px;
                height: auto;
                & + .it-thumb{
                    margin-left: 15px;
                }

            }
        }
    }
.zoomContainer{
    z-index: 5555;  
    overflow: hidden; 
}