.s-clients{
    padding-bottom: 30px;
    .b-title{
          margin-bottom: 1.5em;
          transition: all 0.3s;
          color: white;
    }
    @include vw(320, 767){
        padding-bottom: 30px;
    }
}

    .swiper-container {
        overflow: hidden;
    }
    .clients-slider{
        position: static;
//        padding-left: 50px;
//        padding-right: 50px;
        overflow: visible;
        
        .client{
            background-color: #fff;
//            width: 125px;
//            height: 125px;
            padding: 4px;
            border-radius: 50%;
            img{
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
            @include vw(992, 1199){
                padding: 3px;
            }
            
        }
        .cli-next-arrow,
        .cli-prev-arrow{
            width: 55px;
            &:before{
                margin-top: -29px;
                font-size: 55px;
            }
            &:hover:before{
                color: silver;
            }
            &.swiper-button-disabled{
                &:hover:before{
                    color: silver;
                }
            }
        }
        .cli-next-arrow{
            right: -11px;
        }
        .cli-prev-arrow{
            left: -11px;
        }
        @include vw(320, 767){
            .cli-next-arrow,
            .cli-prev-arrow{
                width: 45px;
                &:before{
                    margin-top: -19px;
                    font-size: 35px;
                }
            }
            .cli-next-arrow{
                right: 0;
            }
            .cli-prev-arrow{
                left: 0;
            }
            .tooltip:hover{
                .tooltip-content {
                    opacity: 0;
                    pointer-events: none;
                    transform: scale3d(0.1,0.2,1);
                }
            }
            .swiper-slide-active.tooltip,
            .swiper-slide-active.tooltip:hover{
                .tooltip-content {
                    opacity: 1;
                    pointer-events: auto;
                    -webkit-transform: scale3d(1,1,1);
                    transform: scale3d(1,1,1);
                }
            }
        }
    }
.pseudo-overflow{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    &:before,
    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 100%;
        z-index: 55;
//        margin-right: -50px;
    }
    &:after{
        right: auto;
        left: 100%;
//        margin-right: 0;
//        margin-left: -50px;
    }
    
}

.tooltip {
	display: inline-block;
	position: relative;
    line-height: normal;
	z-index: 999;
    opacity: 1;
    filter: none;
    cursor: pointer;
    // #{'.ie8'} & { // MOVED
    //     background: none;
    //     padding: 0;
    //     .wrap{
    //         background-color: #fff;
    //         padding: 4px;
    //         margin: 0 11px;

    //     }
    // }
    &:hover{
        .tooltip-sharp{
            opacity: 1;
            pointer-events: auto;
            transform: translate3d(0,0,0);
        }
        .tooltip-round-1,
        .tooltip-round-2,
        .tooltip-round-1 span,
        .tooltip-round-2 span{
             pointer-events: auto;
             transform: translate3d(0,0,0) scale3d(1,1,1);
        }
        .tooltip-round-1 span{
            transform: rotate3d(1,1,1,0);
        }
    }
}

.tooltip-content {
	position: absolute;
    // background-color: #fff;
    background-color: rgb(250,250,250);
	z-index: 9999;
	width: 420px;
	bottom: 100%;
	left: 50%;
	margin-left: -210px;
    margin-bottom: 40px;
	padding: 30px 40px;
    padding-bottom: 35px;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: default;
    border-radius: 400px;
	line-height: 1.5;
	pointer-events: none;
	-webkit-transform: scale3d(0.1,0.2,1);
	transform: scale3d(0.1,0.2,1);
	-webkit-transform-origin: 50% 120%;
	transform-origin: 50% 120%;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
	transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
    // border-top: 1px solid silver;
    
    // font-family: 'ClearSans', sans-serif;
    font-family: $main-font;
    font-size: 14px;
    color: #36383e;
    &:before{
        content: '';
        position: absolute;
        top: 100%;
        height: 100px;
        width: 60px;
        left: 50%;
        margin-left: -30px;
        cursor: pointer;
    }
    #{'.ie8'} & {
        display: none;
    }
    
    .name{
        display: block;
        margin-bottom: 7px;
        font-weight: bold;
        font-size: 22px;
        color: #000;
    }
    .city{
        color: #62646f;
    }
    .quote{
        font-style: italic;
        font-size: 14px;
        color: #36383e;
    }
    @include vw(768, 1199){
        padding: 15px 25px;
    }
    @include vw(320, 767){
        width: 310px;
        padding: 20px 25px;
        padding-bottom: 25px;
        margin-left: -155px;
        border-radius: 90px;
        .quote{
            font-size: 12px;
        }
    }

}

.tooltip:hover{
    .tooltip-content {
    	opacity: 1;
    	pointer-events: auto;
    	-webkit-transform: scale3d(1,1,1);
    	transform: scale3d(1,1,1);
        #{'.ie8'} & {
            display: block;
        }
    }
}

/* Arrow */

.tooltip-content::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    // border-top: 20px solid #fff;
    border-top: 20px solid rgb(250,250,250);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}


.tooltip-sharp{
    opacity: 0;
    border-radius: 10px/50%;
    transform: translate3d(0,50px,0) rotate3d(1,1,1,6deg);
    transition: opacity 0.3s, transform 0.3s;
}


.tooltip-round-1{
    transform: translate3d(0,10px,0) rotate3d(1,1,1,45deg);
    transform-origin: 50% 100%;
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip-round-1 span {
    transform: scale3d(0,0,1);
    transition: opacity 0.3s, transform 0.3s;
}



.tooltip-round-2 {
    transform: translate3d(0,10px,0) rotate3d(0,1,0,90deg);
    transform-origin: 50% 100%;
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip-round-2 span {
    transform: scale3d(0,0,1);
    transition: opacity 0.3s, transform 0.3s;
}


