.s-contacts{
    padding-bottom: 70px;
    .b-title{
        margin-bottom: 0;
    }
}
    .form-req{
        text-align: left;
        max-width: 495px;
        margin: 0 auto;
        transition: all 0.3s;
        @include vw(992, 1651){
            max-width: 445px;
        }
        @include vw(768, 991){
            max-width: 365px;
        }
        .form-group{
            margin-bottom: 20px;
            @include vw(320, 767){
                margin-bottom: 15px;
            }
        }
        .description{
            margin-top: -15px;
        }
        .btn{
            margin-top: 55px;
            @include vw(768, 1199){
                margin-top: 25px;
            }
        }
    }
        .intl-tel-input{
            width: 100%;
        }