.s-how-work{
    padding-bottom: 60px;
    @include vw(320, 767) {
        background-color: #ecf0f1;
    }
    .b-title{
        margin-bottom: 0;
        line-height: 1.5;
    }
    .sub-title{
        font-weight: normal;
        font-size: 25px;
        line-height: 1.5;
    }
    .btn{
        cursor: auto;
    }
    .steps{
        width: 680px;
        margin: 0 auto;
        // margin-top: 70px;
        text-align: center;
        .step{
            &.rght{
                .wrap{
                    text-align: right;
                }
                .text{
                    text-align: left;
                }
            h2 {
                line-height: 1.5;
            }
            }
            .wrap{
                position: relative;
                height: 210px;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: left;
                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                }
                &:before{
                    background-color: $back-bg;
                    bottom: 0;
                    margin-left: -1px;
                    width: 3px;
                }
                &:after{
                    background-color: #6b7084;
                    top: 50%;
                    width: 24px;
                    height: 24px;
                    margin-top: -12px;
                    margin-left: -12px;
                    border-radius: 50%;
                }
            }
            .desc{
                display: inline-block;
                vertical-align: middle;
                max-width: 300px;
                .text{
                    padding-left: 10px;
                    vertical-align: middle;
                    font-size: 0;
                }
                .text-label{
                    font-size: 16px;
                    // font-weight: bold;
                    line-height: 1.5;
                }
            }
            .icon-step{
                width: 82px;
                height: 82px;
                vertical-align: middle;
                text-align: center;
                border-radius: 50%;
                color: white;
                &:before{
                    margin: 0;
                    line-height: 82px;
                    font-size: 45px;
                }
            }
        }
    }
    @include vw(992, 1651){
        padding-bottom: 30px;
    }
    @include vw(768, 991){
        padding-bottom: 15px;
    }
    @include vw(320, 767){
        padding-bottom: 0;
        .b-title{
            font-size: 25px;
        }
        .sub-title{
            font-size: 18px;
        }
        .steps{
            width: auto;
            max-width: 310px;
            margin-top: 20px;
            .step{
                animation: none;
                visibility: visible !important;
                .wrap{
                    text-align: right;
                }
                &.rght{
                    .wrap{
                        text-align: left;
                    }
                    .icon-step{
                        left: auto;
                        right: 20px;
                    }
                    .desc{
                        .text{
                            padding-left: 0;
                            padding-right: 10px;
                            right: auto;
                            left: 0;
                        }
                    }
                }
                .wrap{
                    height: 140px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    &:after{
                        width: 16px;
                        height: 16px;
                        margin-top: -8px;
                        margin-left: -8px;
                    }
                }
                .icon-step{
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    width: 62px;
                    height: 62px;
                    margin-top: -36px;
                    &:before{
                        line-height: 62px;
                        font-size: 34px;
                    }
                }
                .desc{

                    .text{
                        max-width: 145px;
                        padding-left: 10px;
                    }
                    .text-label{
                        font-size: 12px;
                    }
                }
            }
        }
        .btn{
            min-width: 220px;
            min-height: 38px;
            line-height: 38px;
            font-size: 15px;
            
        }
    }
}