.s-list{
    padding-bottom: 60px;
    // margin-top: 40px;
    .items-place{
        // margin-left: -30px;
        // margin-right: -30px;
    }


    .item{
        margin-bottom: 60px;
        .desc {
            height: 140px;
            @include vw (320, 767) {
                height: 30px;
                padding: 10px;
            }
            @include vw (992, 1200) {
                height: 160px;
            }
            @include vw (1200, 1651) {
                height: 140px;
                padding: 10px;
            }
            @include vw (1651, 5000) {
                height: 150px;
                padding: 10px;
            }
        }
    }
    @include vw(768 , 1651){
    	padding-bottom: 70px;
    	.container{
    		// padding-right: 10px;
    		// padding-left: 10px;
    	}
    	.items-place{
    		// margin-left: -20px;
     	//     margin-right: -20px;
     	margin-left: -10px;
     	margin-right: -10px;
    	}
    	.item{
    		margin-bottom: 45px;
    	}
    }
    @include vw(1200, 1651) {
    	.items-place {
    		// width: 1170px;
    	}
    }
    @include vw(768 , 991){
    	.container{
    		padding-right: 5px;
    		padding-left: 5px;
    	}
    	.items-place{
    		margin-left: -10px;
    		margin-right: -10px;
    	}
    	.item{
    		margin-bottom: 35px;
    	}
    }
    @include vw(320, 767) {
        margin-top: 10px;
        padding-bottom: 35px;
        .items-place{
            margin: 0;
            margin-bottom: 5px;
        }
        .item{
            margin-bottom: 13px;
        }
    }
    .container {		
		position: relative;
		padding-left: 0;
		padding-right: 0;
		ul {
			text-align: justify;
			li {
				height: 100px;
				display: inline-block;
				&.helper {
					width: 100%;
					height: 0;
					visibility: hidden;
				}
			}
		}

    }
}
#categories {
	position: static;
	li {
		position: static;
	}
}
#categories-bar {
	height: 4px;
	transition: left .4s, width .4s;
    position: absolute;
    bottom: 0;
    left: 0;
}