.hidden-big {
    @include vw(768, 5000) {
        display: none;
    }
}
.s-shopnum{
    min-height: 350px;
    transition: height 0.3s;
    .b-title{
        margin-top: 1em;
        margin-bottom: 1.6em;
        color: white;
    }
    .snum-items{
        width: 1230px;
        margin: 0 auto;
        margin-bottom: 25px;
        color: white;
        transition: all 0.3s;
        
        .snum-item{
            display: inline-block;
            max-width: 23%;
            vertical-align: top;
            text-align: center;
            // font-family: 'ClearSans', sans-serif;
            font-family: $main-font;
            .media-left{
                max-width: 170px;
            }
            i.media-left{
                max-width: none;
            }
        }
        .snum-icon{    
            @include vw (320,767) {
                &.flaticon-cooker4 {
                    position: relative;
                    left: -8px;
                }
                &.flaticon-cake14 {
                    position: relative;
                    left: -11px;
                }
                &.flaticon-commercial15 {
                    position: relative;
                    left: -16px;
                }
            }
            &:before{
                font-size: 78px;
            }
        }
        .num{
            margin-top: -5px;
            margin-bottom: 0.4em;
            line-height: 1em;
            font-weight: bold;
            font-size: 45px;
            word-break: break-word;
        }
        .snum-label{
            line-height: 1em;
            text-transform: uppercase;
            font-size: 20px;
        }
    }
    @include vw(768, 1651) {
        min-height: 330px;
        .snum-items{
            width: 100%;
        }
    }
    @include vw(768, 1199) {
        min-height: 265px;
        .snum-items{
            .snum-icon{
                &:before{
                    font-size: 65px;
                }
            }
            .num{
                font-size: 36px;
            }
            .snum-label{
                font-size: 16px;
            }
        }
    }
    @include vw(768, 1651) {
        .snum-items{
            padding-left: 15px;
            padding-right: 15px;

            .snum-icon{
                &:before{
                    font-size: 60px;
                }
            }
            .num{
                font-size: 32px;
            }
            .snum-label{
                font-size: 14px;
            }
        }
    }
    @include vw(320, 767) {
        min-height: 0;
        padding-bottom: 20px;
        .b-title{
            font-size: 25px;
        }
        .snum-items{
            width: auto;
            text-align: center;
            margin-bottom: 0;
            .snum-item{
                display: block;
                max-width: none;
                margin-bottom: 40px;
                .dtab{
                    display: inline-block;
                    width: auto;
                }
            }
            .snum-icon{
                &:before{
                    font-size: 45px;
                }
            }
            .num{
                font-size: 25px;
            }
            .snum-label{
                font-size: 14px;
            }
        }

    }
}