footer{
	position: relative;
	z-index: 45;
}
.socials{
	background-color: $back-bg;
	padding: 25px 0;
	text-align: center;
	.icon-soc{
		display: inline-block;
		margin: 0 7px;
		color: #6b7084;
		@include vw(320, 767){
			margin: 0 4px;
		}
		&:before{
			margin: 0;
			font-size: 40px;
			transition: all 0.3s;
		}
	}
}
.copyright{
	background-color: #7c8092;
	background-color: $main-color1;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	color: #fff;
	@include vw(320, 767){
		font-size: 11px;
		a{
			width: 80px;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}