.settings-content, .cart-modal-content, .item-detail-content {
    display: none;
}

.s-map iframe{
    pointer-events: none;
}

#container {
    position: relative;
    overflow: hidden;
    .content {
        position: absolute;
        top: 0;
        left: 0;
    }
}

img{
	border: none;
	outline: none;
	&.stable{
		display: block;
	}
	&.full-w{
		width: 100%;
		height: auto;
	}
    &.compense{
        opacity: 0;
        visibility: hidden;
    }
}
@for $i from 1 through 20{
	.mt#{$i*5} {
		margin-top: $i*5px!important;
	}
	.mb#{$i*5} {
		margin-bottom: $i*5px!important;
	}
    .ml#{$i*5} {
		margin-left: $i*5px!important;
	}
	.mr#{$i*5} {
		margin-right: $i*5px!important;
	}
	.pl#{$i*5} {
		padding-left: $i*5px!important;
	}
	.pr#{$i*5} {
		padding-right: $i*5px!important;
	}
}

.ib{
	display: inline-block;
}
.dtab{
    display: table;
    width: 100%;
    border-collapse: separate;
}
.pos-re{
	position: relative;
}
.pos-a{
	position: absolute;
}
.z-up{
	z-index: 1;
}
.ta-left{
	text-align: left!important;
}
.ta-center{
	text-align: center!important;
}
.ta-right{
	text-align: right!important;
}
.vat{
	vertical-align: top;
}
.vam{
	vertical-align: middle;
}
.vab{
	vertical-align: bottom;
}
.ib-vam{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.ib-vab{
	display: inline-block;
	vertical-align: bottom;
	height: 100%;
}
.clearfix{
	&:before{
		content: '';
		display:table;
	}
	&:after{
		content:'';
		display:block;
		clear: both;
	}
}
.capitel{
	-moz-font-feature-settings: "smcp";
	-moz-font-feature-settings: "smcp=1";
	-ms-font-feature-settings: "smcp";
	-o-font-feature-settings: "smcp";
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
}
.font-clear{
	font-size: 0px;
}
.justify{
	text-align: justify;
	text-align-last: justify;
	text-justify: newspaper;
	font-size: 0px;
	zoom: 1; 
	&:after{ 
		content: '';
		display: inline-block;
		width: 100%;
		height: 0;
	}
	.ib{
		text-align: left;
	}
}
.two-column{
	font-size: 0;
	.col{
		width: 50%;
		vertical-align: top;
		p{
            font-size: 1em;
			margin-top: 0;
			line-height: 1.5em;
			// margin-bottom: 1.4em;
            margin: 1.5em 0;
		}
	}
}
*:focus,
*:hover{
    outline: none;
    color: inherit;
}
*:focus,
*.focus{
    outline: none !important;
}
a{
    transition: color 0.3s;
    &:hover,
    &:focus{
        text-decoration: none;
        outline: none;
        color: inherit;
    }
}
.btn:hover, .btn:focus, .btn.focus{
    
}

iframe{
    overflow:hidden;
}
.fw-n{
    font-weight: normal !important;
}
.nav-pills > li > a{
    border-radius: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav > li > a:hover, .nav > li > a:focus{
    background: none;
}
.media-left{
    padding-right: 0;
}
u{
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid;
    line-height: 1.05em;
}


body{ // MOVED
    overflow-x: hidden;
    // font-family: 'OpenSans', sans-serif;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.5em;
}
.reset-btn{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    line-height: 16px;
    font-size: 16px;
    color: black;
    &:before{
        content: '\e030';
        @extend .glyphicon;
        position: absolute;
        left: 0;
        transform: rotateY(180deg);
    }
    span{
        border-bottom: 1px dotted ;
    }
}
label{
    font-weight: normal;
    font-size: 18px;
    color: #000;
    @include vw(320, 767){
        font-size: 14px;
    }
}
.title{
    margin-top: 0.6em;
    margin-bottom: 0.8em;
    text-align: center;
    text-transform: uppercase;
    // font-family: 'ClearSans', sans-serif;
    font-family: $main-font;
    font-weight: bold;
    font-size: 30px;
    @include vw(992, 1199) {
        font-size: 28px;
    }
    @include vw(768, 991) {
        font-size: 25px;
    }
}
.form-title{
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 18px;
    color: black;
}
.sub-title{
    font-weight: 300;
    font-size: 24px;
//    color: white;
    @include vw(320, 767){
        font-size: 12px;
    }
    @include vw(768, 1199) {
        font-size: 20px;
    }
    @include vw(1200, 1651) {
        font-size: 22px;
    }
}
.sub-imp{
    font-weight: 300;
    font-size: 18px;
//    color: white;
    @include vw(320, 767){
        font-size: 12px;
    }
    @include vw(768, 1199) {
        font-size: 14px;
    }
    @include vw(1200, 1651) {
        font-size: 16px;
    }
}
.b-title{
    text-transform: uppercase;
    // font-family: 'ClearSans', sans-serif;
    font-family: $main-font;
    font-weight: bold;
    font-size: 36px;

    @include vw(320, 767){
        font-size: 25px;
        line-height: 38px;
    }
    @include vw(768, 991) {
        font-size: 31px;
        line-height: 46px;
    }
    @include vw(992, 1199) {
        font-size: 32px;
        line-height: 48px;
    }
    @include vw(1200, 1651) {
        font-size: 34px;
        line-height: 51px;
    }
}
.sub-b-title{
    font-size: 22px;
    @include vw(1200, 1651) {
        font-size: 20px;
    }

    @include vw(992, 1199) {
        font-size: 18px;
    }
    @include vw(768, 991) {
        font-size: 16px;
    }
    @include vw(320, 767) {
        font-size: 18px;
    }
}
h1{
    @extend .b-title;
//    color: white !important;
    @include vw(320, 767){
        font-size: 25px;
        line-height: 19px;
    }
    @include vw(768, 991) {
        font-size: 31px;
        line-height: 23px;
    }
    @include vw(992, 1199) {
        font-size: 32px;
        line-height: 24px;
    }
    @include vw(1200, 1651) {
        font-size: 34px;
        line-height: 26px;
    }
}

.bd-arrow-next,
.bd-arrow-prev{
    background: none;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    margin-top: 0;
    line-height: normal;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
    color: #fff;
    &:before{
        position: absolute;
        top: 50%;
        margin-top: -50px;
        @extend .flaticon;
        font-size: 100px;
        // transition: all 0.3s;
    }
    &.swiper-button-disabled{
        &:before{
            opacity: 0.35;
        }
    }
    @include vw(320, 767){
        width: 35px;
        &:before{
            margin-top: -20px;
            font-size: 40px;
        }
    }
    @include vw(768, 991){
        width: 55px;
        &:before{
            margin-top: -30px;
            font-size: 60px;
        }
    }
    @include vw(992, 1199){
        width: 75px;
        &:before{
            margin-top: -40px;
            font-size: 80px;
        }
    }
    @include vw(992, 1199){
        width: 85px;
        &:before{
            margin-top: -45px;
            font-size: 90px;
        }
    }
}

.wrap-a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.c-white{
    color: white;
}
.c-req{
    color: #d31616;
}
.description{
    font-size: 14px;
    @include vw(320, 767){
        font-size: 12px;
    }
}
.text-list{
    margin-bottom: 0.9em;
    // font-family: 'OpenSans', sans-serif;
    font-family: $main-font;
    font-size: 16px;
    .name{
        margin-bottom: 0.2em;
        font-weight: bold;
        color: black;
    }
    .text{
        font-size: 1em;
        line-height: 1.5em;
        margin: 1.5em 0;
        margin-top: 1em;
    }
    .dropdown-menu .text{
        margin-top: 0;
        margin: 0;
    }
}
.para-block{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    z-index: 1;
    // -webkit-transform: none;
    //   transform: none;
    //   -webkit-backface-visibility: visible;
    //   -webkit-font-smoothing: antialiased;
    //   -webkit-perspective: none;
    //   -webkit-transform: none;
    //   -webkit-transition-delay: none;
    //   -webkit-transition-duration: none;
    //   -webkit-transition-property: none;
    //   -webkit-transition-timing-function: none;
    //   backface-visibility: visible;
      // &:before{
      //   display: none;
      // }
    // #{'.desktop'} & { // MOVED
    //     @media (min-width: 768px){
    //         background: none;
    //     }
        
    // }
}
.para-img-fix{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include vw(320, 767){
        background-attachment: scroll;
    }
    // #{'.chrome'} & { // MOVED
    //     position: absolute;
    //     background-attachment: scroll;
    // }
}
// .mobile{ // MOVED
//     .para-img-fix{
//         position: absolute;
//         background-attachment: scroll;
//     }
// }


.s-parallax{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    // #{'.desktop'} & ,
    // #{'.tablet'} & { // MOVED
    //     @media (min-width: 768px){
    //         display: block;
    //     }
    // }
}
.bg-back{
    background-color: $back-bg;
}
.bg-map{
    background-color: $bg-map;
}
.swiper-container{
    .swiper-slide{
        width: auto;
        .disc-item {
            margin-left: 8px;
            margin-right: 7px;
        }
    }
}
.s-cut{
    margin: 0 auto;
    overflow: hidden;
}
@include vw(320, 767){
    .br-span{
        display: block;
    }
}
@import "buttons";
@import "inputs";
@import "alerts";

// Подключение блока товаров
@import "items";

@import "tumbl-styles";

.magnify {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.magnify .magnify-lens {
  /* Create the magnifying lens */
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* Multiple box shadows to achieve the glass lens effect */
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  /* Hide the mouse pointer */
  cursor: none;
  /* Hide the lens by default */
  display: none;
  /* Place the lens on top of other elements */
  z-index: 100;
}
.magnify .magnify-lens.loading {
  background: #333 !important;
  opacity: .75;
}
.magnify .magnify-lens.loading:after {
  /* Loading text */
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fff;
  content: 'Loading...';
  font: italic normal 16px/1 Calibri, sans-serif;
  text-align: center;
  text-shadow: 0 0 2px rgba(51, 51, 51, .8);
  text-transform: none;
}