.main-header{
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.7rem 0;
    height: 80px;
    // font-family: 'ClearSans', sans-serif;
    font-family: $main-font;
    z-index: 46;
    backface-visibility: hidden;
    border: none;
    .listing{
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    &.affix {
        position: fixed;
        border-bottom: 1px solid rgb(230,230,230);
        background-color: #f9f9f9;
        transition: opacity .4s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        .listing{
            margin-right: 65px;
        }
        @include vw(320,767) {
            .main-header-top {
                padding-top: 0;
            }
            
            .call-up {
                display: none;
                margin-top: 10px;
            }
            .logo-main {
                @include vw(400,767) {
                    display: block;
                }
                display: none;
                right: -60px;
                position: absolute;
                margin: 0 auto;
                img {
                    height: 40px;
                    width: 88px;
                }
            }
            .mob-toggle {
                top: 5px;
            }
            padding-bottom: 5px;
            padding-top: 5px;
        }
        @include vw(767, 5000) {
            min-height: 10px;
            .row.main-header-top {
                display: none;
            }
            
        }    
    }
    nav{
        display: block !important;
        backface-visibility: hidden;
        transition: box-shadow 0.3s;
    }
    .mob-toggle{
        display: none;

        background: none;
        position: absolute;
        top: 10px;
        right: 5px;
        padding: 0 5px;
        border: none;
        line-height: 1;
        font-size: 34px;
        &:before{
            content: "\e621";
            @extend .flaticon;
        }
    }
    .main-nav {
        width: auto;
        display: inline-block;
        vertical-align: top;
        float: none;
        position: relative;
        white-space: nowrap;
        li{ float: none;}
        &:before, &:after{display: none;}
    }
    .arr-nav{
        position: absolute;
        z-index: 1;
        width: 80px;
        top: 50%;
        height: 42px;
        line-height: 40px;
        margin-top: -21px;
        font-size: 18px;

        &:before{
            display: none;
        }
        &.prev{ 
            text-align: left;
            left: -2px;
            background: linear-gradient(to right, #f9f9f9 60%, rgba(255,255,255,0));
        }
        &.next{
            text-align: right;
            right: -2px;
            background: linear-gradient(to left, #f9f9f9 60%, rgba(255,255,255,0));
        }
        &.disabled{ display: none;}
    }
    @include vw(768, 991) {
        .arr-nav{ 
            font-size: 14px;
        }
    }
    @include vw(320, 767){
        .mob-toggle{
            display: block;
        }
        nav{
            background:rgb(0,0,0);
            background: transparent\9;
            background:rgba(0,0,0,0.4);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
            zoom: 1;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0s 0.3s;
            z-index: 2000;
            &.in{
                opacity: 1;
                visibility: visible;
                overflow-y: auto;
                transition: opacity 0.3s;
                .listing{
                    transform: translate3d(0, 0, 0);
                }
            }
            .listing{
                background-color: #fff;
                position: absolute;
                z-index: 2;
                right: 0;
                top: 0;
                bottom: 0;
                transition: all 0.3s;
                transform: translate3d(100%, 0, 0);
            }
            .main-nav{
                li{
                    display: block;
                    border-bottom: 1px solid $back-bg;
                    &:before{
                        display: none;
                    }
                    a{
                        padding: 5px 15px !important;
                        font-size: 11px;
                    }
                }
            }
            .navbar-nav{
                margin: 0;
            }
            .arr-nav, .shop-cart{display: none;}
        }
    }
}
.main-header-top{
    position: relative;
    padding-top: 40px;
    margin-bottom: 33px;
    .logo-main{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        .brand{
            display: inline-block;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    @include vw(768, 1651){
        margin-bottom: 20px;
    }
    @include vw(768, 991){
        .brand{
            width: 165px;
        }
    }
    @include vw(320, 767) {
        padding-top: 73px;
        .logo-main{
            top: 6px;
        }
        .brand{
            width: 125px;
        }
    }
}

.stuck{
    background:rgb(255,255,255);
    background: transparent\9;
    background:rgba(255,255,255,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5ffffff,endColorstr=#e5ffffff);
    zoom: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    @include vw(320, 767){
        background: none;
        position: static;
        box-shadow: none;
    }
}

.main-nav{
    font-size: 0;
    li{
        display: inline-block;
        position: relative;
        &.active{
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 7px;
                right: 7px;
                height: 3px;
            }
        }
        &:first-of-type,
        &.slvzr-first-of-type {
            &.active:before{
                right: 7px;
                left: -7px;
            }
            a{
                padding-left: 0;
                // #{'.ie8'} & { // MOVED
                //     padding-left: 0;
                // }
            }
        }
        &:last-of-type,
        &.slvzr-last-of-type {
            &.active:before{
                left: 7px;
                right: -7px;
            }
            a{
                padding-right: 0;
                // #{'.ie8'} & { // MOVED
                //     padding-right: 0;
                // }
            }
        }
        a{
            padding-top: 12px !important;
            padding-bottom: 10px !important;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            // #{'.ie8'} & { // MOVED
            //     padding-left: 10px;
            //     padding-right: 10px;
            //     font-size: 15px;
            // }
            @include vw(768, 1199){
                font-size: 15px;
            }
        }
    }
}

.call-up{
    display: inline-block;
    position: relative;
    width: 273px;
    min-height: 60px;
    padding: 3px;
    line-height: 52px;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.3s;
    z-index: 1;
    a{
        display: block;
        color: white;
        transition: all 0.3s;
        &:hover,
        &:focus{
            color: white;
        }
    }
    &:hover,
    &:focus{
        background: white;
        text-decoration: none;
    }
    div{
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.75);
        border-radius: 2px;
        transition: border-color 0.3s;
    }
    @include vw(768, 991){
        width: 241px;
    }
    @include vw(320, 767) {
        width: 137px;
        min-height: 45px;
        line-height: 37px;
        font-size: 14px;
        i{
            display: none;
        }
    }
}
