.nav-items{
    background-color: $back-bg;
    margin-bottom: 60px;
    border: none;
    @include vw(768, 991){
        margin-bottom: 25px;
    }
    ul{
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 0;

        &:after{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }
    li{
        display: inline-block;
        position: relative;
        width: 235px;
        height: 100% !important;
        float: none;
        margin-bottom: 0;
        text-align: center;
        &.active{
             a{
                color: black;
            }
        }
        
        
        a{
            transition: all 0.3s;
            position: relative;
            
            display: block;
            height: 100%;
            width: 100%;
            padding: 22px 47px 20px 90px;

            
            // font-family: 'ClearSans', sans-serif;
            font-family: $main-font;
            font-weight: bold;
            font-size: 14px;
            white-space: nowrap;
            
            text-transform: uppercase;
            
            color: #313030;
            color: rgba(49, 48, 48, 0.7);
            @include vw(992, 1199) {
                font-size: 16px;
            }
            .sum{
                position: absolute;
                top: -3px;
                left: 20px;
                min-width: 21px;
                min-height: 21px;
                line-height: 20px;
                border-radius: 50%;
                text-align: center;
                // font-family: 'OpenSans', sans-serif;
                font-family: $main-font;
                font-weight: bold;
                font-style: normal;
                font-size: 11px;
                color: white;
            }
            i{
                position: absolute;
                top: 50%;
                left: 42px;
                margin-top: -18px;
                &:before{
                    margin-right: 0;
                    font-size: 32px;
                    color: #b2b6c6;
                }
            }
            .ico-cat{
                position: absolute;
                top: 50%;
                left: 42px;
                margin-top: -18px;
                max-width: 50px;
                img{
                    width: 120%;
                    height: auto;
                }
            }

            &:before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                margin-right: -4px;
            }
            .category-name{
                display: inline-block;
                vertical-align: middle;

                word-wrap: break-word;
                white-space: normal;
            }
        }

        @include vw(768, 992){
            width: 175px;
            a{
                padding-left: 60px;
                padding-right: 30px;
                // i{
                //     left: 12px;
                // }
                .ico-cat{
                    left: 12px;
                }
            }
        }
    }
    @include vw(320, 767) {
        display: none;
    }
}
.items-place{
    overflow: hidden;
    @include vw(992, 1651){
        [class^=col-],
        [class*=col-]{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
     @include vw(768 , 991){
        [class^=col-],
        [class*=col-]{
            padding-left: 5px;
            padding-right: 5px;
        }
     }
     @include vw(320, 767) {
        [class^=col-],
        [class*=col-]{
            padding-left: 4px;
            padding-right: 4px;
        }
     }
    .item{
        display: inline-block;
        background-color: $back-bg;
        position: relative;
        width: 100%;
//        max-width: 362px;
        padding: 6px;
        backface-visibility: hidden;
        @include vw(320, 767) {
            padding: 3px;    
            .desc{
                .weight,
                .price,
                .old-price,
                .changes{
                    display: none;
                }
            }
        }
        .link-item{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
        .wrap{
            position: relative;
            overflow: hidden;
            z-index: 1;
            padding-bottom: (225 / 350) * 100%;
            img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .desc{
            transition: bottom .5s;
            position: absolute;
            z-index: 2;
            
            left: 0px;
            right: 0px;
            
            height: auto !important;
            padding: 0 !important;
            
            text-align: center;

            color: black;
            background:rgb(255,255,255);
            background:rgba(255,255,255,0.82);
            
            bottom: 0px;
            @media (min-width: 768px){
                bottom: -100px;
            }
            @media (min-width: 1652px){
                bottom: -95px;
            }
            @media (max-width: 767px){
                padding-top: 5px;
                bottom: 0px;
            }
        }
        .name{
            position: static;
            margin-bottom: 3px;
            text-transform: uppercase;
            // font-family: 'ClearSans', sans-serif;
            font-family: $main-font;
            font-weight: bold;
            // font-size: 14px;
            line-height: 1.5em;
            font-size: 1em;
            @include vw(768, 1651){
                font-size: 12px;
            }
            @include vw(320, 767){
                font-size: 11px;
            }
        }
        .weight{
            font-size: 16px;
            @include vw(768, 1651){
                font-size: 14px;
            }
        }
        .price{
            line-height: 1.25em;
            font-size: 35px;
            @include vw(768, 1651){
                font-size: 28px;
            }
        }
        .old-price{
            padding-right: 15px;
            line-height: 1.25em;
            text-decoration: line-through;
            font-size: 16px;
            color: $old-price-c;
            @include vw(768, 1651){
                font-size: 14px;
            }
        }
        .changes{
            display: table;
            background-color: #fff;
            position: relative;
            width: 100%;
            padding: 8px 14px;
            text-align: left;
            border-collapse: separate;
            .btn{
                margin: 0;
                &:after{
                    display: none;
                }
            }
            @include vw(768, 1651){
                padding: 8px 7px;
            }
        }
        .media-left{ padding: 0; }
        &:hover .desc{ bottom: 0;}
    }
}