.main-section{
    // overflow: hidden;
    // section{
    //     &.s-subscribe:first-child{
    //         margin-top: -180px;
    //         @include vw(320, 767) {
    //             margin-top: -130px;
    //         }
    //         @include vw(768, 1651){
    //             margin-top: -160px;
    //         }
    //     }
    // }
    section{
        position: relative;
        z-index: 45;
    }
    .btn,
    button,
    .form-control,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"]{
        margin: 0;
    }
//    section{
//        padding-top: 45px;
//        padding-bottom: 60px;
//    }
    .b-title{
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@import "main-slider";

@import "sections/s-subscribe";
@import "sections/s-list";
@import "sections/s-discounts";
@import "sections/s-contacts";
@import "sections/s-why";
@import "sections/s-video";
@import "sections/s-how-work";
@import "sections/s-shopnum";
@import "sections/s-deliv";
@import "sections/s-clients";
@import "sections/s-address";
@import "sections/s-map";
@import "popups/popup";
@import "popups/cart-detail";
@import "popups/item-detail";
@import "popups/settings";

.bx-panel-dummy{
    height: 200px;
    background: gray; 
}

.message{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

    padding: 15px 0;

    &-warning{ color: orange;}
    &-success{ color: green;}
    &-error{ color: red;}
}