@include vw(320, 767) {
    body{ // MOVED
        font-size: 12px;
    }
    .container{
        padding-right: 5px;
        padding-left: 5px;
    }
    .row{
        margin: 0;
    }
    #sett-page{
        display: none;
    }
    .s-cut{
        max-width: 767px;
        max-width: 100%;
    }
}
@include vw(768, 991) {
    .container{
        width: 750px;
    }
    .s-cut{
        max-width: 750px;
    }
}
@include vw(992, 1199){
    .container{
        width: 971px;
    }
    .s-cut{
        max-width: 971px;
    }
}
@include vw(1200, 1651){
    .container{
        width: 1170px;
    }
    .s-cut{
        max-width: 1170px;
    }
}
@media (min-width: 1652px){
    .container{
        width: 1605px;
    }
    .s-cut{
        max-width: 1605px;
    }
    .cart-alert.in .cart-alert-wrap {
        bottom: 0;
    }
}
