@import 'functions';

a{
    color: black;
    &:hover{
        color: $link-color;
    }
}
#main-slider{
    .bd-arrow-next,
    .bd-arrow-prev{
        &, &:visited, &:focus{
            color: #fff;
        }
        &:hover{
            color: $link-color;
        }
    }
}

.ct1{
    color: $main-color1;
}
.ct2{
    color: $main-color2;
}
.bg1{
    background-color: $main-color1;
}
.bg2{
    background-color: $main-color2;
}
.main-nav{
    li{
        &.active{
            &:before{
                background: $link-color;
            }
            a{
                color: $link-color!important;
            }
        }
        a{
            &:hover{
                color: $link-color!important;
            }
        }
    }
}
.nav-items{
    li{
        &:hover{
            a{
                color: $main-color2;
            }
        }
        a{
            .sum{
                background-color: $main-color2;
            }
        }
    }
    #categories-bar {
        background-color: $main-color2;
    }
}
.call-up{
    background: $call-up-bg;
    &:hover,
    &:focus{
        a{
            color: $call-up-bg;
        }
        div{
            border-color: rgba($call-up-bg, 0.75);
        }
    }
}
.shop-cart{
    &:hover{
        background-color: $main-color1;
    }
    i{
        color: $main-color1;
    }
}

.btn{
    background-color: $btn-bg;
    &:hover,
    &:focus{
        background-color: $btn-bg-hov;
        color: white;
    }
}
.btn-h2{
    background-color: $btn-icon-bg;
    &:hover,
    &:focus{
        background-color: $btn-icon-bg-hov;
    }
    &:active{
        background-color: $btn-bg-hov;
    }
}
.btn-v2{
    background-color: $btn-v2-bg;
    &:hover,
    &:focus{
        background-color: $btn-v2-bg-hov;
    }
    &.btn--moema{
        &.btn-activated{
            background-color: $btn-v2-bg-hov;
        }
    }
}
.btn-v2-h2{
    &:hover{
        background-color: $btn-counter-hov;
    }
    &:active{
        background-color: $btn-v2-bg-hov;
    }
}
.btn-icon{
    background-color: $btn-icon-bg;
    &:hover,
    &:focus{
        background-color: $btn-icon-bg-hov;
    }
}
.btn--moema{
    &.btn-activated{
        background-color: $btn-bg-hov;
    }
}

// checkbox radio
input[type="checkbox"]{
    & +label{
        &:hover{
            &:before{
                border-color: $checkbox-br-hov;
            }
        }
    }
    &:checked + label{
        &:before{
            background-color: $checkbox-bg-hov;
        }
        
    }
    
}
input[type="radio"]{
    & +label{
        &:hover{
            &:before{
                border-color: $radio-br-hov;
            }
        }
    }
    &:checked + label{
        &:after{
            background-color: $radio-checked;
        }
        
    }
}
.bootstrap-select{
    .dropdown-toggle{
        &:hover{
            .caret{
                background-color: $btn-counter-hov;
            }
        }
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: $btn-v2-bg;
    }
}
.bootstrap-select .dropdown-toggle .caret{
    background-color: $btn-v2-bg;
}
.intl-tel-input{
    .flag-dropdown{
        .selected-flag{
            background-color: $btn-icon-bg;
        }
        &:hover{
            .selected-flag{
                background-color: $btn-icon-bg-hov;
            }
        }
    }
}

.s-subscribe{
    .itemwrap > li .mask{
        // &:before{
            background: $mask-subscribe;
            background: transparent\9;
            background: rgba($mask-subscribe, 0.6);
            zoom: 1;
        // }
    }
    .form-sub{
        background-color: $form-sub-bg;
    }
    .form-control{
        background-color: $form-sub-input-bg;
    }
}
.swiper-pagination-bullet,
.swiper-pagination-switch{
    &:hover{
        background-color: rgba($main-color1, 0.5);
        // #{'.ie8'} & { // MOVED
        //     background-color: $main-color1;
        //     opacity: 0.5;
        //     filter: alpha(opacity=50);
        // }
    }
}
.swiper-pagination-bullet-active,
.swiper-active-switch{
    background-color: $main-color1;
    &:hover{
        background-color: $main-color1;
    }
}

.s-how-work{
    .steps{
        .step{
            .icon-step{
                background-color: $main-color1;
            }
        }
    }
}
.bg1{
    .clients-slider{
        .cli-next-arrow,
        .cli-prev-arrow{
            background: $main-color1;
        }
    }
    .pseudo-overflow{
        &:before,
        &:after{
            background-color: $main-color1;
        }
    }
}
.bg2{
    .clients-slider{
        .cli-next-arrow,
        .cli-prev-arrow{
            background: $main-color2;
        }
    }
    .pseudo-overflow{
        &:before,
        &:after{
            background-color: $main-color2;
        }
    }
}

.adrs-items{
    .adrs-item{
        &:before{
            color: $main-color2;
        }
    }
}
.socials{
    .icon-soc{
        &:hover:before{
            color: $main-color1;
        }
    }
}
.bg1{
    .btn-cart-alert{
        color: $main-color1 !important;
    }
}
.bg2{
    .btn-cart-alert{
        color: $main-color2 !important;
    }
}
.it-gallery-thumbs{
    .it-thumb{
        &.active{
            .wrap:before{
                border-color: $main-color1;
            }
            img{
                // border-color: $main-color1;
            }
        }
    }
}

.d-section{
     input[type="checkbox"]{
        & + label{
            &:before{
                color: $main-color2;
            }
        }
        &:checked + label:before{
            color: $main-color1;
        }
    }
}
@include vw(320, 767){
    .discount-pagination{
        .swiper-pagination-bullet-active,
        .swiper-active-switch{
            background-color: $main-color2;
        }
        .swiper-pagination-bullet:hover,
        .swiper-pagination-switch:hover{
            background-color: rgba($main-color2, 0.5);
        }
    }
}
.mob-toggle{
    color: $main-color1;
}
.overlay .overlay-close:hover{
    color: $main-color1;
}
// .adrs-items{
//     .adrs-item:hover{
//         .text{
//             color: $main-color1;
//         }
//     }
// }

.copyright {
    background-color: $main-color1;
}

[class^="shipping-icon-"]:before, 
[class*=" shipping-icon-"]:before {
    color: $main-color2;
}