<section id="s-address" class="s-address">
	<div class="container wow fadeIn " data-wow-delay="1s">
		<div class="row">
			<div class="text-center">
				<h2 class="b-title">You can contact us</h2>
				<div class="sub-b-title">in any convenient way</div>
			</div>
			<div class="adrs-items justify">
				<div class="add-wrap  slideInLeft wow">
					<a href="tel:88002340248" class="adrs-item flaticon-phone64">
						<span class="name">Phone</span>
						<span class="text">1-800-BEST-CAKE</span>
					</a>
				</div>
				<div class="add-wrap  fadeIn  wow">
					<a href="mailto:manager@romza.ru" class="adrs-item flaticon-read4">
						<span class="name">E-mail</span>
						<span class="text"><u>contact@bestcakes.com</u></span>
					</a>
				</div>
				<div class="add-wrap  slideInRight wow">
					<a href="geo:56.0009076512453,92.94674820537569;" class="adrs-item flaticon-location27">
						<span class="name">Address</span>
						<span class="text">1642 W Orangethorpe Ave,<br> Fullerton, CA 92833</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Map -->
	<div class="s-map" id="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d828.3000505320659!2d-117.95654169999999!3d33.858731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2a2450e47a67%3A0xe59209fc8469a834!2s1642+W+Orangethorpe+Ave%2C+Fullerton%2C+CA+92833%2C+%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2s!4v1436341859990" style="border:0" allowfullscreen></iframe>
	</div>
</section>