<section id="s-list" class="s-list ">
	<h4 class="hidden">Items list</h4>
	<nav class="nav-items ta-center">
		<div class="container">
			<ul id="categories">
				<li class="active">
					<a href="#tort" data-toggle="tab">
						<span class="ico-cat">
							<img src="img/category1.png" height="36" width="36" alt=""><span class="sum">8</span>
						</span>
						<span class="category-name">Cakes</span>
					</a>
				</li>
				<li>
					<a href="#piroj" data-toggle="tab">
						<span class="ico-cat">
							<img src="img/category2.png" height="36" width="36" alt=""><span class="sum">9</span>
						</span>
						<span class="category-name">Pies</span>
					</a>
				</li>
				<li>
					<a href="#muffin" data-toggle="tab">
						<span class="ico-cat">
							<img src="img/category3.png" height="36" width="36" alt=""><span class="sum">9</span>
						</span>
						<span class="category-name">Muffins<br>Tasty<br>Cakes</span>
					</a>
				</li>
				<li>
					<a href="#vipech" data-toggle="tab">
						<span class="ico-cat">
							<img src="img/category4.png" height="36" width="36" alt=""><span class="sum">15</span>
						</span>
						<span class="category-name">Baking</span>
					</a>
				</li>
			</ul>
			<div id="categories-bar"></div>
		</div>
	</nav>

	<div class="container">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="tort">
				<div class="row items-place">
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">Blueberries with cream Pancake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item2.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">Blueberries with cream Pancake</a>
									<div class="weight">1800 g</div>
									<div class="price"><b>$16</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[1]">-</button>
												</div>
												<input type="text" name="quant[1]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[1]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content1" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Pigeon's milk cream brulee cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item3.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Pigeon's milk cream brulee cake</a>
									<div class="weight">1000 g</div>
									<div class="price"><span class="old-price">$30</span><b>$25</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[2]">-</button>
												</div>
												<input type="text" name="quant[2]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[2]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content2" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">napoleon classic cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item4.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">napoleon classic cake</a>
									<div class="weight">2300 g</div>
									<div class="price"><b>$19</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[3]">-</button>
												</div>
												<input type="text" name="quant[3]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[3]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content3" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">“Strawberry fantasy”</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item5.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">“Strawberry fantasy”</a>
									<div class="weight">800 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[4]">-</button>
												</div>
												<input type="text" name="quant[4]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[4]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content4" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Earl ruins" Cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item6.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Earl ruins" Cake</a>
									<div class="weight">1200 g</div>
									<div class="price"><b>$28</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[5]">-</button>
												</div>
												<input type="text" name="quant[5]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[5]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content5" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Berry basket" Light cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item7.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Berry basket" Light cake</a>
									<div class="weight">1400 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[6]">-</button>
												</div>
												<input type="text" name="quant[6]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[6]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content6" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Nut madness" Chocolate cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item8.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Nut madness" Chocolate cake</a>
									<div class="weight">1300 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[7]">-</button>
												</div>
												<input type="text" name="quant[7]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[7]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content7" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated wow" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Fruit basket"</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Fruit basket"</a>
									<div class="weight">950 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[8]">-</button>
												</div>
												<input type="text" name="quant[8]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[8]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div id="item-detail-content8" class="item-detailed-content hidden">
						@@include('partials/modal_detailed.html')
					</div>
				</div>
				<div class="row text-center">
					<button type="button" class="btn btn-clicked btn--moema refresh-waypoints">more</button>
				</div>
			</div>
			<div class="tab-pane fade" id="piroj">
				<div class="row items-place">
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">Blueberries with cream Pancake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item2.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">Blueberries with cream Pancake</a>
									<div class="weight">1800 g</div>
									<div class="price"><b>$16</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[1]">-</button>
												</div>
												<input type="text" name="quant[1]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[1]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Pigeon's milk cream brulee cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item3.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Pigeon's milk cream brulee cake</a>
									<div class="weight">1000 g</div>
									<div class="price"><span class="old-price">$30 </span><b>$25</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[2]">-</button>
												</div>
												<input type="text" name="quant[2]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[2]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">napoleon classic</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item4.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">napoleon classic</a>
									<div class="weight">2300 g</div>
									<div class="price"><b>$19</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[3]">-</button>
												</div>
												<input type="text" name="quant[3]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[3]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Strawberry fantasy"</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item5.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Strawberry fantasy"</a>
									<div class="weight">800 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[4]">-</button>
												</div>
												<input type="text" name="quant[4]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[4]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Earl ruins" Cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item6.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Earl ruins" Cake</a>
									<div class="weight">1200 g</div>
									<div class="price"><b>$28</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[5]">-</button>
												</div>
												<input type="text" name="quant[5]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[5]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Berry basket" Light cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item7.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Berry basket" Light cake</a>
									<div class="weight">1400 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[6]">-</button>
												</div>
												<input type="text" name="quant[6]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[6]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Nut madness" Chocolate cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item8.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Nut madness" Chocolade cake</a>
									<div class="weight">1300 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[7]">-</button>
												</div>
												<input type="text" name="quant[7]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[7]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Fruit basket"</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Fruit basket"</a>
									<div class="weight">950 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[8]">-</button>
												</div>
												<input type="text" name="quant[8]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[8]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="row text-center">
					<button type="button" class="btn btn-clicked btn--moema refresh-waypoints">More</button>
				</div>
			</div>
			<div class="tab-pane fade" id="muffin">
				<div class="row items-place">
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">Blueberries with cream Pancake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item2.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">Blueberries with cream Pancake</a>
									<div class="weight">1800 g</div>
									<div class="price"><b>$16</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[1]">-</button>
												</div>
												<input type="text" name="quant[1]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[1]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Pigeon's milk cream brulee cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item3.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Pigeon's milk cream brulee cake</a>
									<div class="weight">1000 g</div>
									<div class="price"><span class="old-price">30 </span><b>25</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[2]">-</button>
												</div>
												<input type="text" name="quant[2]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[2]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">napoleon classic</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item4.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">napoleon classic cake</a>
									<div class="weight">2300 g</div>
									<div class="price"><b>$19</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[3]">-</button>
												</div>
												<input type="text" name="quant[3]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[3]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">s"Strawberry fantasy"</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item5.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Strawberry fantasy"</a>
									<div class="weight">800 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[4]">-</button>
												</div>
												<input type="text" name="quant[4]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[4]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Earl ruins" Cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item6.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Earl ruins" cake</a>
									<div class="weight">1200 g</div>
									<div class="price"><b>$28</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[5]">-</button>
												</div>
												<input type="text" name="quant[5]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[5]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">b"Berry basket" Light cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item7.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Berry basket" Light cake</a>
									<div class="weight">1400 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[6]">-</button>
												</div>
												<input type="text" name="quant[6]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[6]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Nut madness" Chocolate cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item8.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Nut madness" Chocolade cake</a>
									<div class="weight">1300 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[7]">-</button>
												</div>
												<input type="text" name="quant[7]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[7]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Fruit basket"</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Fruit basket"</a>
									<div class="weight">950 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[8]">-</button>
												</div>
												<input type="text" name="quant[8]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[8]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="row text-center">
					<button type="button" class="btn btn-clicked btn--moema refresh-waypoints">more</button>
				</div>
			</div>
			<div class="tab-pane fade" id="vipech">
				<div class="row items-place">
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">Blueberries with cream Pancake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item2.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">Blueberries with cream Pancake</a>
									<div class="weight">1800 g</div>
									<div class="price"><b>$16</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[1]">-</button>
												</div>
												<input type="text" name="quant[1]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[1]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Pigeon's milk cream brulee cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item3.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Pigeon's milk cream brulee cake</a>
									<div class="weight">1000 g</div>
									<div class="price"><span class="old-price">$30 </span><b>$25</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[2]">-</button>
												</div>
												<input type="text" name="quant[2]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[2]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">napoleon classic</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item4.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">napoleon classic cake</a>
									<div class="weight">2300 g</div>
									<div class="price"><b>$19</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[3]">-</button>
												</div>
												<input type="text" name="quant[3]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[3]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Strawberry fantasy"</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item5.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Strawberry fantasy"</a>
									<div class="weight">800 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[4]">-</button>
												</div>
												<input type="text" name="quant[4]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[4]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Earl ruins" Cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item6.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Earl ruins" cake</a>
									<div class="weight">1200 g</div>
									<div class="price"><b>$28</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[5]">-</button>
												</div>
												<input type="text" name="quant[5]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[5]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Berry basket" Light cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item7.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Berry basket" Light cake</a>
									<div class="weight">1400 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[6]">-</button>
												</div>
												<input type="text" name="quant[6]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[6]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Nut madness" Chocolate cake</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item8.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Nut madness" Chocolade cake</a>
									<div class="weight">1300 g</div>
									<div class="price"><b>$32</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[7]">-</button>
												</div>
												<input type="text" name="quant[7]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[7]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6">
						<article class="item fadeInDown animated" data-wow-duration="0.7s">
							<a href="item-detail.html" class="link-item" data-toggle="modal" data-target="#modal_detailed" data-remote="false"><h4 class="hidden">"Fruit basket"</h4></a>
							<div class="wrap">
								<img class="stable full-w" src="img/blank-item.jpg" alt="">
								<div class="desc">
									<a class="name link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false">"Fruit basket"</a>
									<div class="weight">950 g</div>
									<div class="price"><b>$33</b>
									</div>
									<div class="changes">
										<div class="media-left media-middle">
											<div class="input-group counter-badge">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[8]">-</button>
												</div>
												<input type="text" name="quant[8]" class="form-control input-number" value="10" data-min="1" data-max="100">
												<div class="input-group-btn">
													<button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[8]">+</button>
												</div>
											</div>
										</div>
										<div class="media-left media-middle ta-right">
											<button class="btn btn-sm btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="row text-center">
					<button type="button" class="btn btn-clicked btn--moema refresh-waypoints">more</button>
				</div>
			</div>
		</div>
	</div>
</section>