<section id="s-clients" class="s-clients bg1">
	<div class="container">
		<div class="row">
			<h2 class="b-title c-white text-center wow fadeIn">Testimonios</h2>
			<div class="pseudo-overflow">
				<!-- Swiper -->
				<div class="swiper-container clients-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client1.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Elizabeth, <span class="city">Los Angeles, CA</span></span><span class="quote">"I ordered cake here for a friend, and he was very very happy with it. although there was some hitch with the delivery, the staff was very cooperative and helpful in sorting it out. the cake itself, i am told, was delicious, soft and absolutely sinful. i would use the services again, and recommend to others."</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client2.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Carl, <span class="city">San Francisco, CA</span></span><span class="quote">"A wonderful shop - not only can you get everyday bakery items which are just delicious, you can also order many different kinds of cakes, from birthday to christening and weddings. I ordered a special retirement cake from here and it more than exceeded expectations. Not only was the design wonderful, but the taste was also extremely good - excellent quality and definitely recommended!"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client3.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Anna, <span class="city">Anaheim, CA</span></span><span class="quote">«Ordered a 50th birthday cake online and picked it up on the date i requested. The cake was beautifully decorated and was put in a suitable box, easy for me to carry the box home without the cake getting damaged. The cake was delicious and was well worth the money I paid for it. It tasted really fresh. The only fault was the lack of communication, there was no indiciation of what time I should have picked up the cake, apparently all cakes are to be picked up before 4pm on the day you request. Apart from that the service was excellent and I will be making sure I order a cake from here again!»</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client4.jpg" alt="">
								<span class="tooltip-content default"><span class="name">John, <span class="city">Ontario, CA</span></span><span class="quote">«Great service. Delicious cake, will recommend :-)»</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client5.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Catrine, <span class="city">Modesto, CA</span></span><span class="quote">«This is the third time I have used you over a five year period for very special occasions for family celebrations and your service has been excellent from the simple way to order through to the delivery to my door.»</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client6.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Julia, <span class="city">San Jose, CA</span></span><span class="quote">"My son LOVED his cake... it was VERY moist and delicious, one of the best cakes I've tasted (vanilla/jam.) It was fresh, delivered on time and well presented. Was also a hit with the other kids and moms, everyone asked where it was purchased! I recommend this store for anyone's special event, will order from the Store again. 10/10"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client7.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Michael, <span class="city">Portland, OR</span></span><span class="quote">"I realy like your cakes and will recommend them to all my friends!"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client8.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Sofie, <span class="city">Fremont, CA</span></span><span class="quote">"Tasty and beautifully. What else to wish?!"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client9.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Becky, <span class="city">Roseville, CA</span></span><span class="quote">"I don't want to cook cakes after your e-shop! Very tasty"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client10.jpg" alt="">
								<span class="tooltip-content default"><span class="name">William, <span class="city">Berkeley, CA</span></span><span class="quote">"My girlfriend is jealous of your cakes"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client1.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Susan, <span class="city">Sacramento, CA</span></span><span class="quote">"I ordered cake here for a friend, and he was very very happy with it. although there was some hitch with the delivery, the staff was very cooperative and helpful in sorting it out. the cake itself, i am told, was delicious, soft and absolutely sinful. i would use the services again, and recommend to others."</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client2.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Rob, <span class="city">Bakersfield, CA</span></span><span class="quote">"OMG! It's the best cake in my life!"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client3.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Maggie, <span class="city">Los Angeles, CA</span></span><span class="quote">"My son LOVED his cake... it was VERY moist and delicious, one of the best cakes I've tasted (vanilla/jam.) It was fresh, delivered on time and well presented. Was also a hit with the other kids and moms, everyone asked where it was purchased! I recommend this store for anyone's special event, will order from the Store again. 10/10"</span>
								</span>
							</div>
						</div>
						<div class="swiper-slide rollIn wow client tooltip">
							<div class="wrap">
								<img src="img/client4.jpg" alt="">
								<span class="tooltip-content default"><span class="name">Edward, <span class="city">Oxnard, CA</span></span><span class="quote">"This is the third time I have used you over a five year period for very special occasions for family celebrations and your service has been excellent from the simple way to order through to the delivery to my door."</span>
								</span>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="cli-next-arrow bd-arrow-next"></div>
					<div class="cli-prev-arrow bd-arrow-prev"></div>
				</div>
			</div>
		</div>
	</div>
</section>