<footer>
	<nav class="socials">
		<div class="container">
			<a href="" class="icon-soc flaticon-vk5"></a>
			<a href="" class="icon-soc flaticon-odnolassniki1"></a>
			<a href="" class="icon-soc flaticon-twitter"></a>
			<a href="" class="icon-soc flaticon-facebook3"></a>
			<a href="" class="icon-soc flaticon-instagram19"></a>
			<a href="" class="icon-soc flaticon-google-plus"></a>
		</div>
	</nav>
	<div class="copyright">
		<div class="container">
			<span class="ib vam mr10"><span class="hidden-xs">2004 - </span>2015 Best Dessert v1.2.2</span>
			<!-- <a href="" class="ib vam"><img src="img/logo-white.png" height="30" alt=""></a> -->
		</div>
	</div>
</footer>