<div class="jumbotron s-subscribe">
	<div class="wrap-a text-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center text-uppercase">
					<h1>Disfruta de tu tiempo y olvídate de tu limpieza</h1>
					<h2 class="sub-b-title hidden-xs">Reserva tu <strong>limpiador de confianza</strong> en Wayook desde sólo <strong>8.90€/hora</strong></h2>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="wrap">
						<form action="index.html" class="form-sub mt15 mb5">
							<div class="form-group dtab text-left">
								<div class="media-left">
									<input type="text" class="form-control" placeholder="Tu código postal" data-notice="invalid" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="media-left text-right">
									<button type="submit" class="btn btn-v2 btn-clicked btn--moema">Reservar Cuidado</button>
								</div>
							</div>
						</form>
						<div class="sub-imp text-left c-white">* for 10% discount</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>