<header class="main-header" id="main-header">
	<div class="container">
		<nav id="main-nav" class="nav navbar-nav" role="navigation" aria-labelledby="main-nav" aria-hidden="true" data-keyboard="true" tabindex="-1" data-backdrop="true">
          	<div class="container">
	            <div class="navbar-header">
	              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navegacion">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
	              <a class="navbar-brand" href="/">
	                  <img class="hidden-xs" alt="Logo de Wayook" src="https://wayook.blob.core.windows.net/static/img/logo_wayook_blanco.png?v=2.9" height="40">
	                  <img class="visible-xs" alt="Logo de Wayook" src="https://wayook.blob.core.windows.net/static/img/logo_wayook.png?v=2.9" height="40">
	              </a>
	            </div>

	            <div class="collapse navbar-collapse" id="navegacion">
	              	<ul class="nav navbar-nav navbar-right">
		                <li class="necesitas-ayuda">
		                  	<a href="#" class="show-zopim">
		                  		<span class="fa fa-comments"></span> 
		                  		<em class="te-ayudamos">¿Te ayudamos?</em>
		                  	</a>
		                </li>
		                <li><a href="/faqs/">FAQs</a></li>
		                <li>
		                	<div class="call-up pull-right">
								<div>
									<a href="tel:1234567790">
										<span class="flaticon-phone72"></span> 91 584 89 62
									</a>
								</div>
							</div>
						</li>
		                <!--<li><a data-toggle="modal" data-target="#modal-login" data-remote="/ajax/login/" href="/cuentas/login/" id="link-iniciar-sesion" class="text-success">Iniciar sesión</a></li>-->
	                
	              	</ul>
	            </div>
          	</div>
        </nav>
	</div>
</header>
	
		<!--<div class="row main-header-top">
			<div class="logo-main pull-left">
				<a href="index.html" class="brand">
					<img src="img/logo.png" alt="Best Dessert">
				</a>
			</div>
			<nav id="main-nav" role="navigation" aria-labelledby="main-nav" aria-hidden="true" data-keyboard="true" tabindex="-1" data-backdrop="true">  
				<div class="listing">
					<ul class="nav navbar-nav main-nav">
						<li>
							<a href="#main-slider" data-dismiss="modal">Subscribe</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="call-up pull-right">
				<div>
					<a href="tel:1234567790">
						<span class="flaticon-phone72"></span> 91 584 89 62
					</a>
				</div>
			</div>
		</div>
		
	</div>
</header>-->