<section id="s-how-work" class="s-how-work">
	<div class="container">
		<div class="row text-center">
			<h2 class="b-title ct1">How it works?</h2>
			<div class="sub-title ct1">Everything is very simple!</div>
		</div>

		<div class="row steps">
			<div class="step wow rollIn animated" data-wow-duration="0.7s" data-wow-offset="300">
				<h2>Step 1. "Goods"</h2>
				<div class="wrap dtab">
					<div class="media-left vam">
						<div class="desc">
							<div class="dtab">
								<div class="media-left vam">
									<i class="ib icon-step flaticon-shoppingcart9"></i>
								</div>
								<div class="media-left text">
									<div class="ib-vam"></div>
									<div class="ib vam text-label">Choose and add products you like to cart </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="step rght wow rollInRight animated" data-wow-duration="0.7s" data-wow-delay="0.25s" data-wow-offset="300">
				<h2>Step 2. "Cart"</h2>
				<div class="wrap dtab">
					<div class="media-left vam">
						<div class="desc">
							<div class="dtab">
								<div class="media-left vam">
									<i class="ib icon-step flaticon-clipboard109"></i>
								</div>
								<div class="media-left text">
									<div class="ib-vam"></div>
									<div class="ib vam text-label">Fill in the details, choose shipping and payment methods</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="step wow rollIn animated" data-wow-duration="0.7s" data-wow-delay="0.25s" data-wow-offset="300">
				<h2>Step 3. "Order"</h2>
				<div class="wrap dtab">
					<div class="media-left vam">
						<div class="desc">
							<div class="dtab">
								<div class="media-left vam">
									<i class="ib icon-step flaticon-handshake1"></i>
								</div>
								<div class="media-left text">
									<div class="ib-vam"></div>
									<div class="ib vam text-label">Your order is complete. Wait for a courier or pickup and order yourself</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="step rght wow rollInRight animated" data-wow-duration="0.7s" data-wow-delay="0.25s" data-wow-offset="300">
				<h2>Step 4. "Receiving"</h2>
				<div class="wrap dtab">
					<div class="media-left vam">
						<div class="desc">
							<div class="dtab">
								<div class="media-left vam">
									<i class="ib icon-step flaticon-happy50"></i>
								</div>
								<div class="media-left text">
									<div class="ib-vam"></div>
									<div class="ib vam text-label">Receive and pay for your order. Bon appetite and welcome your feedback</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>