<section id="s-shopnum" class="s-shopnum bg2 para-block" style="background: url(img/shop-numbers-bg.jpg) center / cover no-repeat;">
	<img class="s-parallax" src="img/shop-numbers-bg.jpg" alt="" data-parallax='{"y" : -230}'>
	<div class="container">
		<div class="row">
			<h2 class="b-title c-white text-center">The store in figures</h2>
			<div class="snum-items justify">
				<div class="snum-item">
					<div class="dtab">
						<i class="snum-icon media-left flaticon-cooker4"></i>
						<div class="media-left pl10">
							<div class="num num-animate hidden-xs" data-finish="1185">0</div>
							<div class="num num-animate hidden-big" data-finish="1185">1185</div>
							<div class="snum-label">work days</div>
						</div>
					</div>
				</div>
				<div class="snum-item ">
					<div class="dtab">
						<i class="snum-icon media-left flaticon-cake14"></i>
						<div class="media-left pl10">
							<div class="num num-animate hidden-xs" data-finish="9845">0</div>
							<div class="num num-animate hidden-big" data-finish="9845">9845</div>
							<div class="snum-label">desserts</div>
						</div>
					</div>
				</div>
				<div class="snum-item ">
					<div class="dtab">
						<i class="snum-icon media-left flaticon-commercial15"></i>
						<div class="media-left pl10">
							<div class="num num-animate hidden-xs" data-finish="8305">0</div>
							<div class="num num-animate hidden-big" data-finish="8305">8305</div>
							<div class="snum-label">orders</div>
						</div>
					</div>
				</div>
				<div class="snum-item">
					<div class="dtab">
						<i class="snum-icon media-left flaticon-multiple25"></i>
						<div class="media-left pl10">
							<div class="num num-animate hidden-xs" data-finish="2502">0</div>
							<div class="num num-animate hidden-big" data-finish="2502">2502</div>
							<div class="snum-label">Subscribers</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>