<section id="main-slider" class="s-subscribe ">
	<div id="main-banner" class="component component-fullwidth fxSoftScale">
		<ul class="itemwrap">
			<li class="current" style="background-image: url(img/subs-bg.jpg);">
				<div class="mask"></div>
			</li>
			<li class="" style="background-image: url(img/video-blank.jpg);">
				<div class="mask"></div>
			</li>
			<li class="" style="background-image: url(img/discounts-bg.jpg);">
				<div class="mask"></div>
			</li>
		</ul>
		<div class="container bd-arrows">
			<a class="main-bd-arrow-prev bd-arrow-prev" href="#">Previous item</a>
			<a class="main-bd-arrow-next bd-arrow-next" href="#">Next item</a>
		</div>
	</div>
	<div class="wrap-a text-center">
		<div class="container">
			<div class="wrap">
				<h1 class="b-title c-white">Our best desserts for you</h1>
				<div class="sub-title c-white">We discover something new every day</div>
				<form action="index.html" class="form-sub mt15 mb5">
					<div class="form-group dtab text-left">
						<div class="media-left">
							<input type="email" class="form-control" placeholder="Your e-mail" data-notice="invalid e-mail" required>
							<div class="help-block with-errors"></div>
						</div>
						<div class="media-left text-right">
							<button type="submit" class="btn btn-v2 btn-clicked btn--moema">Subscribe</button>
						</div>
					</div>
				</form>
				<div class="sub-imp text-left c-white">* subscribe for 10% discount</div>
			</div>
		</div>
	</div>
</section>