<div class="overlay overlay-simplegenie" id="modal_detailed" aria-hidden="true" data-backdrop="true" data-keyboard="true" tabindex="-1">
	<button type="button" class="overlay-close hidden-xs" data-dismiss="modal">&#215;</button>
	<div class="modal-content detail-popup">
		<!-- content added dynamically -->
	</div>
</div>
<div class="overlay overlay-simplegenie" id="modal_cart" aria-hidden="true" data-backdrop="true" data-keyboard="true" tabindex="-1">
	<button type="button" class="overlay-close hidden-xs" data-dismiss="modal">&#215;</button>
	<div class="modal-content detail-popup" id="cartView-popup">
		@@include('partials/modal_cart.html')
	</div>
</div>
<div class="overlay overlay-simplegenie" id="modal_settings" aria-hidden="true" data-backdrop="true" data-keyboard="true" tabindex="-1">
	<button type="button" class="overlay-close hidden-xs" data-dismiss="modal">&#215;</button>
	<div class="modal-content detail-popup">
		@@include('partials/modal_settings.html')
	</div>
</div>