<button type="button" class="overlay-close inner visible-xs" data-dismiss="modal">×</button>
<form action="index.html">
    <div class="b-title text-center">Blueberries with cream pancake cake</div>
    <div class="item-detail">
        <!-- Swiper -->
        <div class="swiper-container it-gallery">
            <div class="swiper-wrapper">
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/blank-item-big1.jpg" alt="" data-zoom-image="img/blank-item-big1.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/blank-item-big1.jpg" alt="" data-zoom-image="img/blank-item-big1.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/blank-item-big1.jpg" alt="" data-zoom-image="img/blank-item-big1.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/blank-item-big1.jpg" alt="" data-zoom-image="img/blank-item-big1.jpg">
                </div>
                 <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/blank-item-big1.jpg" alt="" data-zoom-image="img/blank-item-big1.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/blank-item-big1.jpg" alt="" data-zoom-image="img/blank-item-big1.jpg">
                </div>
                <div class="it-big swiper-slide">
                    <img class="zoom-img" src="img/discounts-bg.jpg" alt="" data-zoom-image="img/discounts-bg.jpg">
                </div>

            </div>
        </div>

         <div class="it-gallery-thumbs">
            <div class="it-gallery-thumbs-wrap">
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb1.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb2.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb3.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb4.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb4.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb4.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
                <div class="it-thumb">
                    <div class="wrap">
                        <img src="img/blank-item-thumb5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <div class="it-info">
                <div class="text-list">
                    <div class="name">Details:</div>
                    <div class="text">Delicate pancake dough layers soaked in whipped cream and blueberry jam with the addition of blueberries. Decorated with fresh berries, sugar and mint leaves.</div>
                </div>
                <div class="text-list">
                    <div class="name">Weight: <span class="fw-n">1800 g</span>
                    </div>
                </div>
                <div class="text-list">
                    <div class="name">Ingredients:</div>
                    <div class="text">Eggs, milk, cream, sugar, wheat flour, salt, vanilla extract, corn starch, mascarpone cheese, cofee liqueur, apple vinegear, lemon juice, fresh and frozen blueberry.</div>
                </div>
                <div class="text-list">
                    <div class="name">Nutrition facts (for 100g of product):</div>
                    <div class="text">
                        <div class="line">
                            <strong>Calories:</strong> 218.3 kcal
                        </div>
                        <div class="line">
                            <strong>Protein:</strong> 6.8 g
                        </div>
                        <div class="line">
                            <strong>Total Fat:</strong> 13.9 g
                        </div>
                        <div class="line">
                            <strong>Carbohydrate:</strong> 16.7 g
                        </div>
                    </div>
                </div>
            </div>
            <div class="composition">
                <div class="form-group">
                    <div class="text-list mb20">
                        <div class="name">Choose berries:</div>
                        <select class="selectpicker sel-berry bs-select-hidden">
                            <option class="icon-comp ico-cher" value="1">Blueberry</option>
                            <option class="icon-comp ico-vish" value="2">Cherry</option>
                            <option class="icon-comp ico-klub" value="3">Strawberry</option>
                            <option class="icon-comp ico-mal" value="4">Raspberry</option>
                            <option class="icon-comp ico-ej" value="5">Blackberry</option>
                        </select>
                    </div>
                    <div class="text-list">
                        <div class="name">Choose weight:</div>
                        <select class="selectpicker bs-select-hidden">
                            <option class="" value="1">Standard (1,8 kg)</option>
                            <option class="" value="2">More (2,8 kg)</option>
                            <option class="" value="3">Less (0,8 kg)</option>
                        </select>
                    </div>
                    <div class="it-price">
                        <div class="it-sum">
                            <input type="hidden" value="650"><strong>$22</strong>
                        </div>
                        <div class="ib input-group counter-badge">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="minus" data-field="quant[12]">-</button>
                            </div>
                            <input type="text" name="quant[12]" class="form-control input-number" value="1" data-min="1" data-max="100">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-v2 btn-v2-h2 btn-number" data-type="plus" data-field="quant[12]">+</button>
                            </div>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-buy btn-icon btn-clicked btn--moema flaticon-trolley7">Buy</button>
            </div>
        </div>
    </div>
</form>