<button type="button" class="overlay-close inner visible-xs" data-dismiss="modal">×</button>
<form action="index.html">
    <div class="b-title text-center c-white">Your Cart</div>
    <div class="wrap-cart-window clearfix">
        <div class="cart-items">
            <div class="visible-xs ci-thead-mob ci-info"><span class="ct2">Items:</span>&nbsp;<span class="ci-length">3</span> <span class="ct2 pl20">Total:</span>&nbsp;<strong>$</strong><span class="ci-sum-final">$1336</span>
            </div>
            <table class="table">
                <thead class="ci-head hidden-xs">
                    <tr>
                        <th class="ci-info pl25" colspan="2"><span class="ct2">Items:</span>&nbsp;<span class="ci-length">3</span> <span class="ct2 pl20">Total:</span>&nbsp;<strong>$</strong><span class="ci-sum-final">$1336</span>
                        </th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="ci-item">
                            <td class="col-sm-1 col-md-1 col-xs-2">
                                <div class="media">
                                    <a class="link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false"> <img class="media-object" src="img/blank-item-cart1.jpg" alt=""></a>
                                </div>
                            </td>
                            <td class="ci-text hidden-xs col-sm-4 col-md-3">
                                Pigeons's milk Creme brulee cake
                            </td>
                            <td class="col-sm-1 col-md-2 col-xs-7 text-center">
                                <a href="item-detail.html" class="ci-text link-item visible-xs" data-toggle="modal" data-target="#modal_detailed" data-remote="false">Pigeons's milk</a>
                                <div class="ib input-group counter-badge">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-v2 btn-v2-h2 btn-number btn-minus">-</button>
                                    </div>
                                    <input type="text" class="form-control input-number ci-count" value="1" data-min="1" data-max="100">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-v2 btn-v2-h2 btn-number btn-plus">+</button>
                                    </div>
                                </div>
                            </td>
                            <td class="ci-num hidden-xs col-sm-1 col-md-2 text-center"><strong class="ci-sum-single">$19</strong>
                            </td>
                            <td class="ci-num hidden-xs col-sm-1 col-md-2 text-center"><strong>$</strong><strong class="ci-sum-item">19</strong>
                            </td>
                            <td class="col-sm-1 col-md-2 col-xs-3 text-center">
                                <div class="ci-num visible-xs"><strong>$19</strong>
                                </div>
                                <a href="" class="btn-remove"></a>
                            </td>
                        </tr>
                        <tr class="ci-item">
                            <td class="col-sm-1 col-md-1 col-xs-2">
                                <div class="media">
                                    <a class="link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false"> <img class="media-object" src="img/blank-item-cart2.jpg" alt=""> </a>
                                </div>
                            </td>
                            <td class="ci-text hidden-xs col-sm-4 col-md-3 text-center">
                                Chocolate muffins with cream filling
                            </td>
                            <td class="col-sm-1 col-md-2 col-xs-7 text-center">
                                <a href="item-detail.html" class="ci-text link-item visible-xs" data-toggle="modal" data-target="#modal_detailed" data-remote="false">Chocolate muffins with cream filling</a>
                                <div class="ib input-group counter-badge">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-v2 btn-v2-h2 btn-number btn-minus">-</button>
                                    </div>
                                    <input type="text" class="form-control input-number ci-count" value="10" data-min="1" data-max="100">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-v2 btn-v2-h2 btn-number btn-plus">+</button>
                                    </div>
                                </div>
                            </td>
                            <td class="ci-num hidden-xs col-sm-1 col-md-2 text-center"><strong class="ci-sum-single">$1</strong>
                            </td>
                            <td class="ci-num hidden-xs col-sm-1 col-md-2 text-center"><strong>$</strong><strong class="ci-sum-item">10</strong>
                            </td>
                            <td class="col-sm-1 col-md-2 col-xs-3 text-center">
                                <div class="ci-num visible-xs"><strong>10</strong>
                                </div>
                                <a href="" class="btn-remove"></a>
                            </td>
                        </tr>
                        <tr class="ci-item">
                            <td class="col-sm-1 col-md-1 col-xs-2">
                                <div class="media">
                                    <a class="link-item" href="item-detail.html" data-toggle="modal" data-target="#modal_detailed" data-remote="false"> <img class="media-object" src="img/blank-item-cart3.jpg" alt=""> </a>
                                </div>
                            </td>
                            <td class="ci-text hidden-xs col-sm-4 col-md-3 text-center">
                                Cinnamon and nuts buns
                            </td>
                            <td class="col-sm-1 col-md-2 col-xs-7 text-center">
                                <a href="item-detail.html" class="ci-text link-item visible-xs" data-toggle="modal" data-target="#modal_detailed" data-remote="false">Cinnamon and nuts buns</a>
                                <div class="ib input-group counter-badge">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-v2 btn-v2-h2 btn-number btn-minus">-</button>
                                    </div>
                                    <input type="text" class="form-control input-number ci-count" value="12" data-min="1" data-max="100">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-v2 btn-v2-h2 btn-number btn-plus">+</button>
                                    </div>
                                </div>
                            </td>
                            <td class="ci-num hidden-xs col-sm-1 col-md-2 text-center"><strong class="ci-sum-single">$0.8</strong>
                            </td>
                            <td class="ci-num hidden-xs col-sm-1 col-md-2 text-center"><strong>$</strong><strong class="ci-sum-item">$9.6</strong>
                            </td>
                            <td class="col-sm-1 col-md-2 col-xs-3 text-center">
                                <div class="ci-num visible-xs"><strong>$9.6</strong>
                                </div>
                                <a href="" class="btn-remove"></a>
                            </td>
                        </tr>
                    </tbody>
            </table>

            <div class="ci-bottom text-left clearfix">

                    <div class="ci-sum-all">
                        <div class="name">Total:</div>
                        <div class="dtab">
                            <div class="media-left pr10">
                                <div class="line">Amount:</div>
                                <div class="line">Your discount:</div>
                                <div class="line">Total:</div>
                            </div>
                            <div class="media-left">
                                <div class="line"><strong class="ci-length">3</strong>
                                </div>
                                <div class="line"><strong class="ci-sum-promo">$4.5</strong>
                                </div>
                                <div class="line"><strong>$</strong><strong class="ci-sum-final">$34.1</strong>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="ci-promo form-group">
                        <div class="dtab">
                            <div class="media-left media-middle">
                                <div class="name mr30">Do you know promotion
                                    <br>discount code?</div>
                            </div>
                            <div class="media-left media-middle">
                                <div class="input-group input-with-btn">
                                    <input type="text" class="form-control input-sm" placeholder="Redeem code">
                                    <button type="button" class="btn btn-send btn-h2"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="form-req mt35">
                <div class="form-group">
                    <label for="f01">Name<span class="c-req">*</span>:</label>
                    <input type="text" class="form-control" id="f01" data-min="2" required>
                </div>
                <div class="form-group">
                    <label for="f03">Phone number<span class="c-req">*</span>:</label>
                    <input type="text" class="form-control form-tel" id="f03" data-notice="Invalid mobile phone number" required>
                </div>
                <div class="form-group">
                    <label for="f02">E-mail:</label>
                    <input type="email" class="form-control" id="f02">
                </div>
                <div class="form-group">
                    <label for="f04">Shipping address<span class="c-req">*</span>:</label>
                    <textarea class="" id="f04" required></textarea>
                </div>
                <div class="description">Fields marked with asterisk(<span class="c-req">*</span>) are required</div>
                <div class="text-center">
                    <button type="submit" class="btn btn-icon btn-clicked btn--sendord flaticon-delivery55 mt45">Submit order</button>
                </div>
            </div>
    </div>
</form>