<section id="s-deliv" class="s-deliv">
	<div class="container">
		<div class="row">
			<div class="deliv-wrap justify">
				<div class="deliv-col lf">
					<div class="icon-deliv flaticon-delivery23"></div>
					<h2 class="title">Shipping methods</h2>
					<div class="line fadeInLeft animated wow" data-wow-duration="0.5s" data-wow-delay="0.2s">
						<div class="row">
							<div class="col-xs-3 col-sm-4"><i class="shipping-icon-delivery-truck"></i></div>
							<div class="col-xs-9 col-sm-8">
								<div class="name">Courier shipping</div>
								<div class="text">
									Buy at least 15$ and get free shipping. Otherwise, shipping costs $10. Shipping is carried out in convenient time for you.
								</div>
							</div>
						</div>
						
					</div>
					<div class="line fadeInLeft animated wow" data-wow-duration="0.5s" data-wow-delay="0.6s">
						<div class="row">
							<div class="col-xs-3 col-sm-4"><i class="shipping-icon-pickup-man"></i></div>
							<div class="col-xs-9 col-sm-8">
								<div class="name">Pickup:</div>
								<div class="text">You are free to pick up the order in one of the branches of our store</div>
							</div>
						</div>
					</div>
					<div class="line fadeInLeft animated wow" data-wow-duration="0.5s" data-wow-delay="1s">
						<div class="row">
							<div class="col-xs-3 col-sm-4"><i class="shipping-icon-postbox"></i></div>
							<div class="col-xs-9 col-sm-8">
								<div class="name">Post:</div>
								<div class="text">We will send the order in any city of the country. The delivery cost is calculated individually.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="deliv-col rt">
					<div class="icon-deliv flaticon-commerce"></div>
					<h2 class="title">Payment methods</h2>
					<div class="line fadeInRight animated wow" data-wow-duration="0.5s" data-wow-delay="0.4s">
						<div class="row">
							<div class="col-xs-3 col-sm-3"><i class="shipping-icon-hand-bill"></i></div>
							<div class="col-xs-9 col-sm-8">
								<div class="name">Cash:</div>
								<div class="text">You can pay by cash to courier upon receiving the order or pickup from our shop.</div>
							</div>
						</div>
					</div>
					<div class="line fadeInRight animated wow" data-wow-duration="0.5s" data-wow-delay="0.8s">
						<div class="row">
							<div class="col-xs-3 col-sm-3"><i class="shipping-icon-buy11"></i></div>
							<div class="col-xs-9 col-sm-8">
								<div class="name">Credit/Debit card:</div>
								<div class="text">You can pay by credit/debit cards when ordering or immediately upon receiving the order</div>		
							</div>
						</div>							
					</div>
					<div class="line fadeInRight animated wow" data-wow-duration="0.5s" data-wow-delay="1.2s">
						<div class="row">
							<div class="col-xs-3 col-sm-3"><i class="shipping-icon-paypal"></i></div>
							<div class="col-xs-9 col-sm-8">
								<div class="name">PayPal:</div>
								<div class="text">You can pay by PayPal when ordering</div>											
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>