<section id="s-discounts" class="s-discounts bg-back para-block">
	<!--<img class="s-parallax" src="img/discounts-bg.jpg" alt="" data-parallax='{"y" : -230}'>-->
	<div class="para-img-fix" style="background-image: url(img/discounts-bg.jpg)"></div>
	<div class="ico-mob visible-xs"></div>
	<h2 class="title c-white wow fadeInDown hidden-xs"><span class="pre-line">Promotions, discounts and offers</span></h2>
	<div class="container">
		<div class="row">
			<!-- Swiper -->
			<div class="swiper-container discount-slider wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank1.jpg" class="stable full-w" alt="">
								</div>
								<div class="desc text-center">
									<div class="name">Total mobilization</div>
									<div class="text">Install our smartphone applicaton and get 15% first and 5% next purchase discount</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank2.jpg" class="stable full-w" alt="">
									<div class="countdown-disc">
										<div class="t-title">Time left to buy:</div>
										<div class="time-left" data-countdown="2015/01/01"></div>
									</div>
								</div>
								<div class="desc text-center">
									<div class="name"> Carrot muffins
										<br>10% discount</div>
									<div class="text"></div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank3.jpg" class="stable full-w" alt="">
								</div>
								<div class="desc text-center">
									<div class="name">Birthday discount!</div>
									<div class="text">Show your ID to courier and get advanced 15% discount. Promotion is valid 3 days before and 3 days after</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank4.jpg" class="stable full-w" alt="">
									<div class="countdown-disc">
										<div class="t-title">Time left to buy:</div>
										<div class="time-left" data-countdown="2016/01/01"></div>
									</div>
								</div>
								<div class="desc text-center">
									<div class="name">35 Cupcakes + napoleon</div>
									<div class="text">Buy 35 cupcakes and get free napoleon (500 g) cake</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank1.jpg" class="stable full-w" alt="">
								</div>
								<div class="desc text-center">
									<div class="name">Total mobilization</div>
									<div class="text">Install our smartphone applicaton and get 15% first and 5% next purchase discount</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank2.jpg" class="stable full-w" alt="">
									<div class="countdown-disc">
										<div class="t-title">Time left to buy:</div>
										<div class="time-left" data-countdown="2016/01/01"></div>
									</div>
								</div>
								<div class="desc text-center">
									<div class="name"> Carrot muffins
										<br>10% discount</div>
									<div class="text"></div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank3.jpg" class="stable full-w" alt="">
								</div>
								<div class="desc text-center">
									<div class="name">Birthday discount!</div>
									<div class="text">Show your ID to courier and get advanced 15% discount. Promotion is valid 3 days before and 3 days after</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank4.jpg" class="stable full-w" alt="">
									<div class="countdown-disc">
										<div class="t-title">Time left to buy:</div>
										<div class="time-left" data-countdown="2016/01/01"></div>
									</div>
								</div>
								<div class="desc text-center">
									<div class="name">35 Cupcakes + napoleon</div>
									<div class="text">Buy 35 cupcakes and get free napoleon (500 g) cake</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank1.jpg" class="stable full-w" alt="">
								</div>
								<div class="desc text-center">
									<div class="name">Total mobilization</div>
									<div class="text">Install our smartphone applicaton and get 15% first and 5% next purchase discount</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank2.jpg" class="stable full-w" alt="">
									<div class="countdown-disc">
										<div class="t-title">Time left to buy:</div>
										<div class="time-left" data-countdown="2016/01/01"></div>
									</div>
								</div>
								<div class="desc text-center">
									<div class="name"> Carrot muffins
										<br>10% discount</div>
									<div class="text"></div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank3.jpg" class="stable full-w" alt="">
								</div>
								<div class="desc text-center">
									<div class="name">Birthday discount!</div>
									<div class="text">Show your ID to courier and get advanced 15% discount. Promotion is valid 3 days before and 3 days after</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="disc-item">
								<div class="img-wrap">
									<img src="img/disc-blank4.jpg" class="stable full-w" alt="">
									<div class="countdown-disc">
										<div class="t-title">Time left to buy:</div>
										<div class="time-left" data-countdown="2016/01/01"></div>
									</div>
								</div>
								<div class="desc text-center">
									<div class="name">35 Cupcakes + napoleon</div>
									<div class="text">Buy 35 cupcakes and get free napoleon (500 g) cake</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination discount-pagination"></div>
			</div>
		</div>
	</div>
</section>