<section id="s-why" class="s-why">
	<div class="container">
		<h2 class="b-title ct2 text-center">Why us?</h2>
		<div class="row">
			<div class="justify row-just">
				<div class="why-item zoomIn animated wow" data-wow-duration="0.7s" data-wow-delay="0.2s">
					<img src="img/why1.png" alt="">
					<div class="desc">
						<div class="name">Beautiful and delicious</div>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, in! Suscipit dignissimos laboriosam ea necessitatibus impedit ducimus!</div>
					</div>
				</div>
				<div class="why-item zoomIn animated wow" data-wow-duration="0.7s" data-wow-delay="0.6s">
					<img src="img/why3.png" alt="">
					<div class="desc">
						<div class="name">Best price</div>
						<div class="text">Expedita quibusdam quam amet, possimus tenetur illum aperiam voluptatum, dolorem. Velit, aperiam, neque. Maxime, sint quasi amet.</div>
					</div>
				</div>
			</div>
			<div class="justify row-just">
				<div class="why-item zoomIn animated wow" data-wow-duration="0.7s" data-wow-delay="0.8s">
					<img src="img/why4.png" alt="">
					<div class="desc">
						<div class="name">Only fresh ingredients</div>
						<div class="text">Commodi porro doloremque, placeat in, assumenda aliquid adipisci expedita perferendis omnis dignissimos neque iste quae laborum voluptatibus.</div>
					</div>
				</div>
				<div class="why-item zoomIn animated wow" data-wow-duration="0.7s" data-wow-delay="1.2s">
					<img src="img/why6.png" alt="">
					<div class="desc">
						<div class="name">Perfect reputation</div>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure beatae alias obcaecati, dolore eos maxime a totam ullam repellat!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>